<widget id="carpool" version="0.0.1">
        <name>Carvana</name>
        <description>
            A sample Apache Cordova application that display the view of the carpool.
        </description>
        <author email="alexunique0519@gmail.com" href="http://phonegap.com">
            Alex yan
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>
